<head>
	<title>PCStore</title>
	<meta charset="UTF-8"> <!--Para la codificación de caracteres -->
	<!-- Enlazamos el archivo CSS que contiene los estilos de la página -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
		  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

	<!-- Metaetiqueta para la compatibilidad con dispositivos móviles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Encabezado de la página con un logo y una barra de navegación -->
  <navbar></navbar>

  <!-- Creamos el Cuerpo de la página-->
  <main>	

    <!-- Sección de presentación -->
    <br>
    <section id="showcase">
      <div class="container">
        <h2>Nuestros servicios</h2>
        <p>¿Te gusta nuestra aplicación Web? ¿La quieres para tu negocio?</p>	
        <p>Solo tienes que ponerte en contacto con la empresa que diseña/desarrolla esta Web. Datos de contacto e imágenes de ejemplo a continuación.</p>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Gran Vía 12</li>
          <li><i class="fas fa-envelope"></i> Correo electrónico: <a href="mailto:info@pcstore.com">info@pcstore.com</a></li>
          <li><i class="fas fa-phone"></i> Teléfono: +123 456 789</li>
        </ul>
       
        <h6 href="">Imágenes ejemplo de App Android</h6>      
        <div id="galeria-app" class="justify-content-between">  
          <a href="/assets/Imagenes/Imagenes App/startImage.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/startImage.png" alt="Imagen startImage App"></a>
          <a href="/assets/Imagenes/Imagenes App/login.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/login.png" alt="Imagen login App"></a>
          <a href="/assets/Imagenes/Imagenes App/home.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/home.png" alt="Imagen home App"></a>
          <a href="/assets/Imagenes/Imagenes App/categories.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/categories.png" alt="Imagen categorias App"></a>
          <a href="/assets/Imagenes/Imagenes App/detail.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/detail.png" alt="Imagen detalle App"></a>
          <a href="/assets/Imagenes/Imagenes App/cart.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/cart.png" alt="Imagen carrito App"></a>
          <a href="/assets/Imagenes/Imagenes App/uploadArticle.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes App/uploadArticle.png" alt="Imagen subir artículo App"></a>
        </div>
        
        <h6 href="">Ver imágenes ejemplo de App Web</h6>
        <div id="galeria-web">  
          <a href="/assets/Imagenes/Imagenes Web/login.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes Web/login.png" alt="Imagen login App"></a>
          <a href="/assets/Imagenes/Imagenes Web/home.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes Web/home.png" alt="Imagen home App"></a>
          <a href="/assets/Imagenes/Imagenes Web/categories.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes Web/categories.png" alt="Imagen categories App"></a>
          <a href="/assets/Imagenes/Imagenes Web/detail.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes Web/detail.png" alt="Imagen detail App"></a>
          <a href="/assets/Imagenes/Imagenes Web/cart.png"><img class="imagen-actual" src="/assets/Imagenes/Imagenes Web/cart.png" alt="Imagen cart App"></a>
        </div>

      </div>      
    </section> 
  </main>

  <miFooter id="miFooter"></miFooter>
</body>