<head>
	<title>PCStore</title>
	<meta charset="UTF-8"> <!--Para la codificación de caracteres -->
	<!-- Enlazamos el archivo CSS que contiene los estilos de la página -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
		  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

	<!-- Metaetiqueta para la compatibilidad con dispositivos móviles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Encabezado de la página con un logo y una barra de navegación -->
  <navbar></navbar>

  <!-- Creamos el Cuerpo de la página-->
  <main>	

    <!-- Sección de presentación -->
    <br>
    <section id="showcase">
      <div class="container">
        <h2>Nuestros servicios</h2>
        <p>¿Te gusta nuestra aplicación Web? ¿La quieres para tu negocio?</p>	
        <p>Solo tienes que ponerte en contacto con la empresa que diseña/desarrolla esta Web. Datos de contacto e imágenes de ejemplo a continuación.</p>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Gran Vía 12</li>
          <li><i class="fas fa-envelope"></i> Correo electrónico: <a href="mailto:info@pcstore.com">info@pcstore.com</a></li>
          <li><i class="fas fa-phone"></i> Teléfono: +123 456 789</li>
        </ul>
       
        <a href="">Ver imágenes ejemplo de App Android</a>
        <br>
        <a href="">Ver imágenes ejemplo de App Web</a>
        <br>
        <h1 >////////////AÑADIR IMÁGENES////////////</h1>
      </div>      
    </section> 
  </main>

  <miFooter id="miFooter"></miFooter>
</body>