<head>
	<title>PCStore</title>
	<meta charset="UTF-8"> <!--Para la codificación de caracteres -->
	<!-- Enlazamos el archivo CSS que contiene los estilos de la página -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
		  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

	<!-- Metaetiqueta para la compatibilidad con dispositivos móviles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <footer>
    <div class="contact-info" id="contact">
      <h3>Contacto</h3>
      <p>Si tienes alguna pregunta o necesitas ayuda, por favor no dudes en contactarnos.</p>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Gran Vía 12</li>
        <li><i class="fas fa-envelope"></i> Correo electrónico: <a href="mailto:info@pcstore.com">info@pcstore.com</a></li>
        <li><i class="fas fa-phone"></i> Teléfono: +123 456 789</li>
      </ul>
    </div>
    <div class="social-media">
      <h3>Síguenos en las redes sociales</h3>
      <ul>
        <li><a href="https://api.whatsapp.com/send?phone=123456789"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a></li>
        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
  </footer>
</body>