<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de compras</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
</head>
<body>

  <!-- Encabezado de la página con un logo y una barra de navegación -->
  <navbar></navbar>

  <main>
    <section class="product-details">
      <div class="container">
        <div class="product-info-container">
          <div class="product-images">
            <img src="{{article.image}}" alt="Ratón Gaiming">
          </div>
          <div class="product-info">
            <h1>{{article.name}}</h1>
            <p>{{article.description}}.</p>
            <p>Precio: {{article.price}}€</p>
            <button (click)="this.onClickAdd(article)" class="button_1">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <miFooter></miFooter>
</body>