<head>
	<title>PCStore</title>
	<meta charset="UTF-8"> <!--Para la codificación de caracteres -->
	<!-- Enlazamos el archivo CSS que contiene los estilos de la página -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
		  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

	<!-- Metaetiqueta para la compatibilidad con dispositivos móviles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Encabezado de la página con un logo y una barra de navegación -->
  <header>
    <div class="container">
      <nav class="main-nav">
        <!-- Menú de navegación -->
        <ul id="menu">
          <!-- Logo -->
          <li class="logo">
            <a (click)="this.onClickLogo()">
              <!-- Usamos un atributo alt para la imagen -->
              <img alt="Icono de PCStore" src="/assets/Imagenes/name_logo.png">              
            </a>
          </li>
          <!-- Opciones de menú -->
          <li class="categorias">
            <a (click)="this.onClickCategories('categorias')">Categorías</a>
            <ul class="desplegable">
              <li><a (click)="this.onClickCategories('auriculares')">Auriculares</a></li>
              <li><a (click)="this.onClickCategories('monitores')">Monitores</a></li>
              <li><a (click)="this.onClickCategories('ratones')">Ratones</a></li>
              <li><a (click)="this.onClickCategories('teclados')">Teclados</a></li>
            </ul>
          </li>
          <li><a (click)="this.onClickServices()">Servicios</a></li>  
          <!-- Añadimos un elemento li con una clase main-nav__item-search -->
          <li class="main-nav__item main-nav__item--search">
            <!-- Dentro del elemento li, añadimos un formulario con un método get y una acción que llama a una función de búsqueda -->
            <form method="get" action="/search">
              <!-- Dentro del formulario, añadimos un input de tipo text con un nombre search y un placeholder que dice Buscar -->
              <input type="text" name="search" placeholder="Buscar">
              <!-- También añadimos un botón de tipo submit con una clase main-nav__link y un icono de una lupa -->
              <button (click)="this.onClickSearch('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')" type="submit" class="main-nav__link">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </li>  
          <li>
            <a (click)="this.onClickCart()" class="main-nav__link">
              <i class="fa fa-shopping-cart"></i>
              <p class="cart-count" *ngIf="cartCounter > 0">{{cartCounter}}</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</body>