<head>
	<title>PCStore</title>
	<meta charset="UTF-8"> <!--Para la codificación de caracteres -->
	<!-- Enlazamos el archivo CSS que contiene los estilos de la página -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
		  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

	<!-- Metaetiqueta para la compatibilidad con dispositivos móviles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Encabezado de la página con un logo y una barra de navegación -->
  <navbar></navbar>   

  <!-- Creamos el Cuerpo de la página-->
  <main>	

    <!-- Sección de presentación -->
    <br>
    <section id="showcase">
      <div class="container">
        <h1>Bienvenido a PCStore</h1>
          <p>En PCStore nos dedicamos a proporcionar a nuestros clientes los mejores componentes y periféricos para su ordenador. Ofrecemos una amplia variedad de productos de alta calidad a 	precios competitivos para satisfacer todas tus necesidades informáticas. Ya seas un gamer, un profesional creativo o simplemente alguien que busca mejorar su experiencia informática, en PCStore tenemos todo lo que necesitas.</p>	
      </div>
    </section>

    <!-- Sección de productos --> 
    <section id="productos"> 
      <div class="container"> 
        <h2 id="titulos">Nuestros Productos</h2> 
        <!-- Usamos la clase products-grid para crear una tabla de productos con flexbox -->
        <div class="products-grid">       

          <!-- MUESTRA LOS ARTICULOS DEL ARRAY -->
          <!-- Usamos la clase product-card para crear una tarjeta de producto con una imagen, un título, un precio y un botón -->
          <div class="product-card" *ngFor="let article of this.articles"> 
            <div (click)="this.onClickProduct(article)" class="card-body">
              <img alt="Producto 1" src="{{article.image}}"> 
              <h3>{{article.name}}</h3>
              <!-- Elementos de precio y botón "Agregar al carrito" aquí -->
            </div>
            <div class="card-footer">
              <p>Precio: {{article.price}}€</p> 
              <button (click)="this.onClickAdd(article)" class="button_2" >
                <i class="fa fa-shopping-cart"></i> 
                Agregar al carrito
              </button> 
            </div>
          </div> 

        </div>
      </div>
    </section>
  </main>

  <miFooter></miFooter>
</body>